pipeline/07_copy_fromVariable.json
{
	"name": "07_copy_fromVariable",
	"properties": {
		"activities": [
			{
				"name": "get_file_name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_name",
					"value": "accounts.txt"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get_file_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Binary_inbound_setvariable",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@variables('file_name')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "gen2_outbound_binary",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"file_name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-27T07:31:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}