pipeline/19_same as_18_copy1.json
{
	"name": "19_same as_18_copy1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_getMetaData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "get_floder_name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "floder_name",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "get_perfix",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "get_floder_name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_prefix",
								"value": {
									"value": "@split(variables('floder_name'),'_')[0]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dataset_gn2_p",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@variables('floder_name')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_outbound_2_para",
									"type": "DatasetReference",
									"parameters": {
										"floder_name": {
											"value": "@variables('file_prefix')",
											"type": "Expression"
										},
										"file_name": {
											"value": "@variables('file_date')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "date",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "get_perfix",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_date",
								"value": {
									"value": "@split(split(variables('floder_name'),'_')[1],'.')[0]",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"floder_name": {
				"type": "String"
			},
			"file_prefix": {
				"type": "String"
			},
			"file_date": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-30T15:32:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}